@import "../../partials/_mixins.scss";
@import "../../partials/_variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record-player {
  position: relative;

  &__record {
    width: 22rem;
    height: 22rem;
    border-radius: 100%;
    background-color: $primary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__cover {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.spin {
      animation: spin 5s linear infinite forwards;
    }
  }

  &__needle {
    height: 18rem;
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}
