@import "../../partials/_mixins.scss";
@import "../../partials/_variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record-player {
  background-color: $secondary-background;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0.5rem 0;
  position: relative;
  order: 1;
  margin: 0;

  @include desktop {
    margin: 0 0.5rem;
    width: 28rem;
    height: 30rem;
    order: 2;
  }

  &__record {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: relative;
    animation: spin 5s linear infinite forwards;

    @include desktop {
      width: 24rem;
      height: 24rem;
    }

    &.run {
      animation-play-state: running;
    }

    &.pause {
      animation-play-state: paused;
    }
  }

  &__needle {
    height: 10rem;
    position: absolute;
    top: 38%;
    left: 78%;
    transform: translate(-50%, -50%);

    @include desktop {
      height: 15rem;
      left: 85%;
    }
  }
}
