.record-player {
  position: relative;

  &__record {
    width: 22rem;
    height: 22rem;
    border-radius: 100%;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__img {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__needle {
    height: 18rem;
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
}
