$primary-text: #262626;
$secondary-text: #FAFAFA;
$primary-background: #262626;
$secondary-background: #FAFAFA;
$border: #FAFAFA;

// Media breakpoints 
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;