$primary-text: #262626;
$secondary-text: #E9E8E4;
$primary-background: #262626;
$secondary-background: #E9E8E4;
$border: #E9E8E4;

// Media breakpoints 
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;