$primary-text: #161616;
$secondary-text: #EFEFEF;
$primary-background: #161616;
$secondary-background: #EFEFEF;
$border: #EFEFEF;

// Media breakpoints 
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;