.music-player {
  background-color: #efefef;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;

  &__controls {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
  }

  &__artist {
    font-size: 1rem;
  }

  &__track {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
