@import "../../partials/_mixins.scss";
@import "../../partials/_variables.scss";

.login {
  display: flex;
  flex-direction: column;

  &__logo {
    width: 15rem;
    margin-bottom: 3rem;
  }

  &__button {
    width: 15rem;
    padding: 0.5rem;
    background-color: $primary-background;
    color: $secondary-text;
    font-family: "MPLUSCodeLatin";
    border-radius: 0.5rem;
    border: solid 0.1rem $border;
    font-size: 1rem;

    &:hover {
      background-color: $secondary-background;
      color: $primary-text;
    }
  }
}
