.login {
  display: flex;
  flex-direction: column;

  &__logo {
    width: 15rem;
    margin-bottom: 3rem;
  }

  &__button {
    width: 15rem;
    height: 2rem;
    background-color: #efefef;
    color: #000000;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}
