@import "./partials/_mixins.scss";
@import "./partials/_variables.scss";
@import "./partials/_general.scss";
@import "./partials/_fonts.scss";

.App {
  background-color: $primary-background;
  color: $secondary-text;
  font-family: "Outfit";

  &__header {
    position: absolute;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}