@import './partials/_mixins.scss';
@import './partials/_variables.scss';
@import './partials/_general.scss';

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 100vh;
}